* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .r1 {
    font-family: consolas;
    height: 4000px;

}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 400%;
    height: 100vh;
    display: flex;
}

.container .section {
    position: relative;
    width: 100%;
    height: 100%;
    padding-right: 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* 
.container .section .content {
    display: flex;
    justify-content: center;
    align-items: center;

}

.container .section .content .text {
    padding-right: 50px;
}

.container .section .content .text h1 {
    margin: 0;
    padding: 0;
    font-size: 4rem;
}

.container .section .content .text p {
    font-size: 1.1rem;

} */

.r2 {
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: cornflowerblue;
    border-radius: 20%;
}

.r3 {
    border: 4px solid black;
    border-radius: 1rem;
}

.r4 {
    background-color: crimson;
    width: 100px;
    border: 2px solid black;
    border-radius: 35%;
    transition-property: background-color, border-radius;
    transition-duration: 2s, 2s;
}

.r4:hover {
    background-color: blanchedalmond;
    border-radius: 0%;
}